@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
}

ul, li {
  list-style: none;
}

button  {
  border: none;
  outline: none;
}

.blogs {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: "20px"
}